<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--para utilizar información dinámica en HTML-->
    <head>
        <title>Guardar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    </head>
    <body>
       <div class="container">
       	 <form action="#" th:action="@{/crear}" class="form-group" th:object="${cliente}" method="post">
           <div class="form-group">
             <label for="nombre">NIT</label>
             <input type="number" class="form-control" id="NIT" name="NIT">
           </div>
           <div class="form-group">
             <label for="nombre">pais</label>
             <input type="text" class="form-control" id="pais" name="pais">
           </div>
           <div class="form-group">
             <label for="nombre">nombre</label>
             <input type="text" class="form-control" id="nombre" name="nombre">
           </div>
       	   <div class="form-group">
             <label for="nombre">correo</label>
             <input type="text" class="form-control" id="correo" name="correo">
           </div>
           <div class="form-group">
             <label for="nombre">direccion</label>
             <input type="text" class="form-control" id="direccion" name="direccion">
           </div>
           <div class="form-group">
             <label for="nombre">numero_documento</label>
             <input type="text" class="form-control" id="numero_documento" name="numero_documento">
           </div>
           <div class="form-group">
             <label for="nombre">razon_social</label>
             <input type="text" class="form-control" id="razon_social" name="razon_social">
           </div>
           <div class="form-group">
             <label for="nombre">nombre_comercial</label>
             <input type="text" class="form-control" id="nombre_comercial" name="nombre_comercial">
           </div>
           <div class="form-group">
             <label for="nombre">municipio</label>
             <input type="text" class="form-control" id="municipio" name="municipio">
           </div> 
           <div class="form-group">
             <label for="nombre">tipo_documento</label>
             <input type="text" class="form-control" id="tipo_documento" name="tipo_documento">
           </div>          
       	 </form>
       </div>
    </body>
</html>